## Rubric

Instructions: DELETE this cell before you submit via a `git push` to your repo before deadline. This cell is for your reference only and is not needed in your report. 

Scoring: Out of 10 points

- Each Developing  => -2 pts
- Each Unsatisfactory/Missing => -4 pts
  - until the score is 

If students address the detailed feedback in a future checkpoint they will earn these points back


|                  | Unsatisfactory                                                                                                                                                                                                    | Developing                                                                                                                                                                                              | Proficient                                     | Excellent                                                                                                                              |
|------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------------------|
| Data relevance   | Did not have data relevant to their question. Or the datasets don't work together because there is no way to line them up against each other. If there are multiple datasets, most of them have this trouble | Data was only tangentially relevant to the question or a bad proxy for the question. If there are multiple datasets, some of them may be irrelevant or can't be easily combined.                       | All data sources are relevant to the question. | Multiple data sources for each aspect of the project. It's clear how the data supports the needs of the project.                         |
| Data description | Dataset or its cleaning procedures are not described. If there are multiple datasets, most have this trouble                                                                                              | Data was not fully described. If there are multiple datasets, some of them are not fully described                                                                                                      | Data was fully described                       | The details of the data descriptions and perhaps some very basic EDA also make it clear how the data supports the needs of the project. |
| Data wrangling   | Did not obtain data. They did not clean/tidy the data they obtained.  If there are multiple datasets, most have this trouble                                                                                 | Data was partially cleaned or tidied. Perhaps you struggled to verify that the data was clean because they did not present it well. If there are multiple datasets, some have this trouble | The data is cleaned and tidied.                | The data is spotless and they used tools to visualize the data cleanliness and you were convinced at first glance                      |

# COGS 108 - Data Checkpoint

## Authors

Instructions: REPLACE the contents of this cell with your team list and their contributions. Note that this will change over the course of the checkpoints

This is a modified [CRediT taxonomy of contributions](https://credit.niso.org). For each group member please list how they contributed to this project using these terms:
> Analysis, Background research, Conceptualization, Data curation, Experimental investigation, Methodology, Project administration, Software, Visualization, Writing – original draft, Writing – review & editing

Example team list and credits:
- Alice Anderson: Conceptualization, Data curation, Methodology, Writing - original draft
- Bob Barker:  Analysis, Software, Visualization
- Charlie Chang: Project administration, Software, Writing - review & editing
- Dani Delgado: Analysis, Background research, Visualization, Writing - original draft

## Research Question

Instructions: REPLACE the contents of this cell with your work, including any updates to recover points lost in your proposal feedback

## Background and Prior Work

Instructions: REPLACE the contents of this cell with your work, including any updates to recover points lost in your proposal feedback

## Hypothesis

Instructions: REPLACE the contents of this cell with your work, including any updates to recover points lost in your proposal feedback

## Data

### Data overview

Instructions: REPLACE the contents of this cell with descriptions of your actual datasets.

For each dataset include the following information
- Dataset #1
  - Dataset Name:
  - Link to the dataset:
  - Number of observations:
  - Number of variables:
  - Description of the variables most relevant to this project
  - Descriptions of any shortcomings this dataset has with repsect to the project
- Dataset #2 (if you have more than one!)
  - same as above
- etc

Each dataset deserves either a set of bullet points as above or a few sentences if you prefer that method.

If you plan to use multiple datasets, add a few sentences about how you plan to combine these datasets.

In [11]:
# Run this code every time when you're actively developing modules in .py files.  It's not needed if you aren't making modules
#
## this code is necessary for making sure that any modules we load are updated here 
## when their source code .py files are modified

%load_ext autoreload
%autoreload 2

In [12]:
# Setup code -- this only needs to be run once after cloning the repo!
# this code downloads the data from its source to the `data/00-raw/` directory
# if the data hasn't updated you don't need to do this again!

# if you don't already have these packages (you should!) uncomment this line
# %pip install requests tqdm

import sys
sys.path.append('./modules') # this tells python where to look for modules to import

import get_data # this is where we get the function we need to download data

# replace the urls and filenames in this list with your actual datafiles
# yes you can use Google drive share links or whatever
# format is a list of dictionaries; 
# each dict has keys of 
#   'url' where the resource is located
#   'filename' for the local filename where it will be stored 
datafiles = [
    { 'url': 'https://raw.githubusercontent.com/fivethirtyeight/data/refs/heads/master/airline-safety/airline-safety.csv', 'filename':'airline-safety.csv'},
    { 'url': 'https://raw.githubusercontent.com/fivethirtyeight/data/refs/heads/master/bad-drivers/bad-drivers.csv', 'filename':'bad-drivers.csv'}
]

get_data.get_raw(datafiles,destination_directory='data/00-raw/')

Overall Download Progress:  50%|█████     | 1/2 [00:00<00:00,  3.80it/s]

Successfully downloaded: airline-safety.csv

Overall Download Progress: 100%|██████████| 2/2 [00:00<00:00,  4.42it/s]

Successfully downloaded: bad-drivers.csv

Overall Download Progress: 100%|██████████| 2/2 [00:00<00:00,  4.31it/s]

### Global Land–Ocean Temperature Anomalies (NASA GISTEMP)

**Source:** NASA Goddard Institute for Space Studies (GISS), GISTEMP Surface Temperature Analysis.  
**File:** `GLB.Ts+dSST.csv` (downloaded from [data.giss.nasa.gov/gistemp](https://data.giss.nasa.gov/gistemp/)).

**Important metrics and units:**  
Each row is one year (1880–present). All temperature values are **anomalies** in degrees Celsius (°C): the deviation from the **1951–1980 global mean** (the baseline). For example, `0.5` means 0.5°C warmer than that baseline; `-0.2` means 0.2°C cooler. In practice, early decades (e.g. 1880s–1970s) often show negative or near-zero anomalies (cooler or similar to the baseline), while recent decades (e.g. 1990s onward) consistently show positive anomalies—recent years often range from about +0.5°C to over +1.2°C, reflecting well-documented global warming. The column **`J-D`** (January–December) is the annual mean land–ocean temperature anomaly and is the main variable we use to correlate with plastic production and other climate indicators. Monthly columns (Jan–Dec) and seasonal columns (e.g. DJF, MAM, JJA, SON) are also present; we focus on `Year` and `J-D` for consistency with the project’s research question.

**Concerns and limitations:**  
The data are global aggregates from a well-established scientific product, so there is no sample bias in the usual sense. Missing values are encoded as `***`, mainly for (1) the most recent partial year (e.g. 2026) when the year is incomplete, and (2) some derived columns (e.g. D-N, DJF) in early years where the seasonal definition does not apply. We restrict to years with a non-missing `J-D` so that analyses use only complete annual values. Because all time series in the project share a common upward trend over time, we will later need to be careful not to overinterpret correlation as causation. The checkpoint focuses on obtaining and cleaning this dataset.

In [13]:
import pandas as pd
import os

# --- 3.1 Load the dataset from data/00-raw/ ---
# First row is a title line, so we skip it. Missing values are encoded as '***'.
raw_path = 'data/00-raw/GLB.Ts+dSST.csv'
temp_raw = pd.read_csv(raw_path, skiprows=1, na_values='***')

print("Shape (rows, columns):", temp_raw.shape)
print("\nColumn names and dtypes:")
print(temp_raw.dtypes)
print("\nFirst few rows:")
display(temp_raw.head())

# --- 3.2 Tidy format: one row per year, one column per variable → already tidy ---
print("\nTidy check: one row per observation (year), one column per variable. No need to reshape.")

Shape (rows, columns): (147, 19)

Column names and dtypes:
Year      int64
Jan     float64
Feb     float64
Mar     float64
Apr     float64
May     float64
Jun     float64
Jul     float64
Aug     float64
Sep     float64
Oct     float64
Nov     float64
Dec     float64
J-D     float64
D-N     float64
DJF     float64
MAM     float64
JJA     float64
SON     float64
dtype: object

First few rows:

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON
0,1880,-0.19,-0.25,-0.10,-0.17,-0.11,-0.22,-0.19,-0.11,-0.15,-0.24,-0.23,-0.18,-0.18,NaN,NaN,-0.13,-0.17,-0.21
1,1881,-0.21,-0.15,0.02,0.04,0.05,-0.20,-0.01,-0.04,-0.16,-0.22,-0.19,-0.08,-0.10,-0.10,-0.18,0.04,-0.08,-0.19
2,1882,0.15,0.13,0.04,-0.18,-0.15,-0.24,-0.17,-0.08,-0.15,-0.24,-0.17,-0.37,-0.12,-0.09,0.07,-0.10,-0.16,-0.19
3,1883,-0.30,-0.37,-0.13,-0.19,-0.18,-0.07,-0.08,-0.14,-0.22,-0.11,-0.25,-0.12,-0.18,-0.20,-0.35,-0.17,-0.10,-0.19
4,1884,-0.14,-0.09,-0.37,-0.40,-0.34,-0.35,-0.31,-0.28,-0.27,-0.25,-0.34,-0.31,-0.29,-0.27,-0.11,-0.37,-0.31,-0.29

Tidy check: one row per observation (year), one column per variable. No need to reshape.

**3.2 (tidy) & 3.3 (size):** The dataset is already in tidy form: one row per year, one column per variable (year, monthly anomalies, annual J-D, seasonal indices). Below we verify the size (number of observations and variables) and then assess missing values.

In [14]:
# --- 3.3 Demonstrate the size of the dataset ---
print("Number of observations (years):", len(temp_raw))
print("Number of variables:", len(temp_raw.columns))

# --- 3.4 How much data is missing, where, and is it missing at random? ---
print("\nMissing values per column (only columns with any missing):")
missing_counts = temp_raw.isna().sum()
print(missing_counts[missing_counts > 0])

# Which years have missing J-D? (critical for our analysis)
jd_missing = temp_raw[temp_raw['J-D'].isna()]
print("\nRows (years) with missing J-D:", len(jd_missing))
if len(jd_missing) > 0:
    display(jd_missing[['Year', 'J-D']])

Number of observations (years): 147
Number of variables: 19

Missing values per column (only columns with any missing):
Feb    1
Mar    1
Apr    1
May    1
Jun    1
Jul    1
Aug    1
Sep    1
Oct    1
Nov    1
Dec    1
J-D    1
D-N    2
DJF    2
MAM    1
JJA    1
SON    1
dtype: int64

Rows (years) with missing J-D: 1

     Year  J-D
146  2026  NaN

**Missingness:** Missing values are not at random. They appear (1) in the most recent year when only partial months exist (e.g. 2026), and (2) in derived columns (D-N, DJF, etc.) for early years where the seasonal definition does not apply. For our analysis we only need `Year` and `J-D`; we will drop rows where `J-D` is missing so that every retained row has a valid annual anomaly. We do not fill missing values, since we need complete years for correlation with other annual datasets.

**3.5 Find and flag outliers or suspicious entries:** We check for extreme values in our key variable `J-D`. Temperature anomalies are physical measurements; unusually warm or cool years are real climate events, not data-entry errors. We flag them for review but do not remove them.

In [15]:
# Ensure J-D is numeric for this check (in case we ran cells out of order)
temp_raw['J-D'] = pd.to_numeric(temp_raw['J-D'], errors='coerce')
jd_valid = temp_raw.dropna(subset=['J-D'])

# Flag extremes: years with lowest and highest annual anomaly
print("Years with lowest J-D (coldest relative to 1951-1980 baseline):")
display(jd_valid.nsmallest(5, 'J-D')[['Year', 'J-D']])
print("\nYears with highest J-D (warmest relative to baseline):")
display(jd_valid.nlargest(5, 'J-D')[['Year', 'J-D']])
print("\nConclusion: All flagged values are plausible (historical cold spells and recent warming). We keep all rows; no outliers removed.")

Years with lowest J-D (coldest relative to 1951-1980 baseline):

    Year   J-D
29  1909 -0.50
24  1904 -0.48
37  1917 -0.47
30  1910 -0.45
31  1911 -0.45

Years with highest J-D (warmest relative to baseline):

     Year   J-D
144  2024  1.28
145  2025  1.19
143  2023  1.17
136  2016  1.01
140  2020  1.01

Conclusion: All flagged values are plausible (historical cold spells and recent warming). We keep all rows; no outliers removed.

In [16]:
# --- 3.6 Clean the data: deal with missingness ---
# Choice: we use dropna(subset=['J-D']) (not fillna). Justification: we need complete annual
# values to merge with other yearly datasets; filling would impute values we cannot verify.
temp_raw['J-D'] = pd.to_numeric(temp_raw['J-D'], errors='coerce')
temp_clean = temp_raw.dropna(subset=['J-D']).copy()
temp_clean = temp_clean.astype({'Year': 'int64'})

print("Rows after dropping rows with missing J-D:", len(temp_clean))
print("Year range in cleaned data:", temp_clean['Year'].min(), "–", temp_clean['Year'].max())
temp_clean[['Year', 'J-D']].tail(10)

Rows after dropping rows with missing J-D: 146
Year range in cleaned data: 1880 – 2025

     Year   J-D
136  2016  1.01
137  2017  0.92
138  2018  0.85
139  2019  0.98
140  2020  1.01
141  2021  0.85
142  2022  0.90
143  2023  1.17
144  2024  1.28
145  2025  1.19

**3.7 Save final wrangled data:** We load from `data/00-raw/` (done above). We do not write an intermediate stage to `data/01-interim/` because the only change is dropping one incomplete year. The final, fully wrangled table (Year + annual anomaly) is written to `data/02-processed/`.

In [17]:
# Subset to columns needed for the project; write final data to data/02-processed/
processed = temp_clean[['Year', 'J-D']].rename(columns={'J-D': 'temp_anomaly_C'})
os.makedirs('data/02-processed', exist_ok=True)
out_path = 'data/02-processed/global_temp_anomaly_giss.csv'
processed.to_csv(out_path, index=False)

print("Saved to", out_path)
print("Shape:", processed.shape)

# --- 4. Summary statistics for important variables ---
print("\nSummary statistics for key variables (Year and temp_anomaly_C):")
display(processed.describe())

Saved to data/02-processed/global_temp_anomaly_giss.csv
Shape: (146, 2)

Summary statistics for key variables (Year and temp_anomaly_C):

              Year  temp_anomaly_C
count   146.000000      146.000000
mean   1952.500000        0.080274
std      42.290661        0.403674
min    1880.000000       -0.500000
25%    1916.250000       -0.200000
50%    1952.500000       -0.030000
75%    1988.750000        0.317500
max    2025.000000        1.280000

**Checkpoint summary — Data cleaning (Dataset #3)**  
- **How clean is the data?** The raw file is well-structured and mostly clean. The only issues are (1) a title row we skip on read, (2) missing values encoded as `***` (incomplete or inapplicable values), and (3) one incomplete year (2026) with missing `J-D`.  
- **What did we do to get it usable?** We loaded from `data/00-raw/` (3.1), confirmed the data are already tidy (3.2), reported size (3.3), assessed missingness and showed it is systematic not random (3.4), flagged and reviewed extremes and kept them (3.5), dropped only rows with missing `J-D` and justified not filling (3.6), and wrote the final wrangled table to `data/02-processed/` (3.7). We did not fill missing values because we need complete annual values for merging.  
- **Pre-processing for analysis:** We restricted to `Year` and annual mean anomaly (`temp_anomaly_C`) and saved that table for merging. No distributional transformations were required for this checkpoint; if we use parametric methods later, we may check normality of the anomaly series.

### Dataset #2 

See instructions above for Dataset #1.  Feel free to keep adding as many more datasets as you need.  Put each new dataset in its own section just like these. 

Lastly if you do have multiple datasets, add another section where you demonstrate how you will join, align, cross-reference or whatever to combine data from the different datasets

Please note that you can always keep adding more datasets in the future if these datasets you turn in for the checkpoint aren't sufficient.  The goal here is demonstrate that you can obtain and wrangle data.  You are not tied down to only use what you turn in right now.

In [18]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE

## Ethics

Instructions: REPLACE the contents of this cell with your work, including any updates to recover points lost in your proposal feedback

## Team Expectations

Instructions: REPLACE the contents of this cell with your work, including any updates to recover points lost in your proposal feedback

## Project Timeline Proposal

Instructions: Replace this with your timeline.  **PLEASE UPDATE your Timeline!** No battle plan survives contact with the enemy, so make sure we understand how your plans have changed.  Also if you have lost points on the previous checkpoint fix them